<div class="link-container">
  <div class="dropdown">
      <a class="dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Links
      </a>   
      <div class="dropdown-menu menu-content" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="https://www.quora.com/">Quora</a>
        <a class="dropdown-item" href="https://mail.google.com/">Gmail</a>
        <a class="dropdown-item" href="https://docs.google.com/">Google Docs</a>
      </div>
    </div>
</div>
