.reminder-container{
  float:right;
  margin-right: 100px;
}


.reminder-container a{
  color:#e91e63;
}

.content-div{
  background: black;
  height:350px;
  width:300px;
  position:absolute;
  overflow: auto;
}

.add-button{
  float:right;
}

.reminder-data{
  color: white;
}

.clear{
  float: right;
  right:0;
  margin-top: -37px;
  top:0;
}
