<div class="reminder-container">
  <div class="btn-group dropup">
    <a class="dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reminders
    </a>
    <div class="dropdown-menu content-div">
      <!-- <div class="">
        <div class="input-group">
          <input type="text" name= "description" class="form-control" aria-label="Text input with checkbox" placeholder="Type in the reminder" [(ngModel)]="reminder.description">
          <div [hidden]="description.valid || description.untouched">
              <div [hidden]="!description.hasError('required')">
                  Description is required.
              </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn btn-outline-warning add-button" (click)="addReminder()">Add reminder</button> -->
      <form name="reminder_Form"  #reminderForm="ngForm">
            <label class="pull-left">Description</label>
            <input type="text" class="form-control" name="description" #description="ngModel" autofocus="" required  [(ngModel)]="reminder.description"/>
            <div *ngIf="description.invalid" class="alert alert-danger">
              <div *ngIf="description.errors.required">
                  Description is required
              </div>
            </div>
            <div class="add-button">
              <button name="Submits" class="btn btn btn-outline-warning add-button" [disabled]="!reminderForm.valid" type="Submit" (click)="addReminder()">Add reminder</button>
            </div>
        </form>
    </div>
  </div>
</div>
