.time-content{
  text-align: center;
  vertical-align: middle;
  color: white;
}

.time-content h1{
  font-size: 5em;
  margin-top: 200px;
}

.time-content h3{
  font-size: 3em;
}

.time-content a{
  font-size: 2.5em;
}
